
#container {
    background-color:rgba(220, 223, 224, 0.966);
    max-width: 1920px;
    margin:auto;
    padding: 50px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

h1 {
    text-align: center; 
}

h3, h4 {
    text-align: center; 
}

div {
    text-align: center; 
    
}

#buttons {
    text-align: center; 
}

#scores {
    background-color: #818cbb;
    position: relative;
    width: 250px;
    height:25px;
    padding-top: 5px;
    color: whitesmoke;
    border-radius: 25px;
    display: inline-block;
    }

